.form-check
  label id="#{mapping[:box_id]}" class = 'form-check-label'
    = check_box_tag mapping[:box_id], mapping[:school_id], mapping[:is_enabled], name: 'user_connector[school_ids][]', class: 'form-check-input'
    = mapping[:school_name]
