html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 60px;
}

form {
  margin-bottom: 15px;
}

form .btn {
  margin-right: 15px;
}

h2 {
  margin-bottom: 15px;
}

#flash-messages .alert {
  margin-top: 15px;
}

#view-content {
  margin-top: 15px;
}

.actions {
  text-align: center;
  width: 150px;
}

.btn a {
  color: #fff;
  text-decoration: none;
}

.card {
  margin-bottom: 25px;
}

.card .message-header {
  display: inline-block;
  font-weight: bold;
  height: 30px;
  margin-right: 5px;
  vertical-align: middle;
}

.card .message-body {
  display: inline-block;
  height: 30px;
  margin-right: 5px;
  max-width: 700px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

.card .message-link {
  display: inline-block;
  height: 30px;
  vertical-align: middle;
}

.footer {
  background-color: #f5f5f5;
  bottom: 0;
  height: 60px;
  padding-top: 15px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox input {
  margin-right: 5px;
}

.form-signin .invalid-feedback {
  text-align: left;
}

.form-text {
  margin-bottom: 15px;
}

.pagination a, .pagination em, .pagination span {
  padding: 5px;
}

.sidebar {
  padding: 0;
}

.sticky-top input, .sticky-top label {
  margin-right: 5px;
}

.sticky-top a {
  margin-left: 10px;
  color: #fff;
}

.sticky-top label {
  color: #fff;
}
