html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 60px;
}

h2 {
  margin-bottom: 15px;
}

#flash-messages .alert {
  margin-top: 15px;
}

#view-content {
  margin-top: 15px;
}

.actions {
  text-align: center;
  width: 150px;
}

.btn a {
  color: #fff;
  text-decoration: none;
}

.footer {
  background-color: #f5f5f5;
  bottom: 0;
  height: 60px;
  padding-top: 15px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.pagination a, .pagination em, .pagination span {
  padding: 5px;
}

.sidebar {
  padding: 0;
}

.sticky-top input, .sticky-top label {
  margin-right: 5px;
}

.sticky-top label {
  color: #fff;
}
